<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :useful_information, "¿Consideras que esta información te ha sido útil?" %><br>
    <%= f.check_box :useful_information %>
  </div>
  
  <div class="field">
    <%= f.label :suggestion, "Agregar sugerencia" %><br>
    <%= f.text_area :suggestion %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
